@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: rgb(15, 15, 15);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  text-align: center;
  font-size: 48px;
  background: radial-gradient(
    circle,
    #ffffff,
    #d6d6d6,
    #afafaf,
    #8a8a8a,
    #666666
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  line-height: 1.5;
}

.description {
  display: flex;
  font-size: 20px;
  color: rgba(189, 189, 189, 0.652);
  font-weight: 300;
  line-height: 1.5;
}

.logo_beta {
  font-size: 8px;
  color: white;
  opacity: 25%;
  padding: 3px;
  border: 1px dashed white;
  border-radius: 8px;
  letter-spacing: 1.3px;
  user-select: none;
}

/* !Header */

.header {
  height: 50px;
  width: 100%;
  padding: 15px;
  margin: 15px 0 30px 0;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.header_data {
  display: flex;
  align-items: center;
}

.header_border {
  border-right: 1px solid rgba(255, 255, 255, 0.305);
  padding-right: 25px;
}

.link_logo {
  font-size: 16px;
  color: white;
  margin: 0 5px 0 0;
}

.logo a:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.header_links {
  display: flex;
  justify-content: row;
}

.footer_links{
  display: flex;
  justify-content: row;
}

.link {
  font-size: 14px;
  color: rgba(189, 189, 189, 0.652);
  margin: 0px 11px 0px 11px;
}

.header_links a:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.header_links a:last-child {
  margin: 0px 0px 0px 11px;
}

.header_dropdown{
  display: inline-block; 
  position: relative; 
  height: 45px;
}

.header_dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content {
  display: none;
  position: absolute;
  width: 170px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  border: 0.5px solid rgba(250, 250, 250, 0.305);
  border-radius: 8px;
  margin: 5px 0 0 0;
}

.dropdown_content a:hover {
  color: #FFFFFF;
  background-color: #535353;
}

.dropdown_logo{
  margin: -3px 5px 0 0;
  background-color: rgb(49, 49, 49);
  padding: 4px 6px;
}

.header_dropdown button {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 7px;
  border: 0.5px solid rgba(255, 255, 255, 0.305);
}

.header_button button:hover {
  color: black;
  background-color: white;
  border: 0.5px solid rgba(250, 250, 250, 0.305);
}

.dropdown_content a{
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 0px auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  height: 50px;
  width: 100%;
  padding: 10px;
  margin: 60px 0 0 0;
}

.footer_row {
  display: flex;
  border-top: 0.5px solid rgba(161, 161, 161, 0.727);
  padding: 10px 0 0 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.intro {
  width: 100%;
  padding: 70px;
}

.intro_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 200px;
  border-bottom: 0.5px solid rgba(161, 161, 161, 0.727);
}

.intro_title {
  font-size: 62px;
  letter-spacing: 2.5px;
  font-weight: 500;
  word-spacing: 4px;
  text-align: center;
  background: radial-gradient(
    circle,
    #ffffff,
    #d6d6d6,
    #afafaf,
    #8a8a8a,
    #666666
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2;
}

.br_title{
  display: none;
}

.intro_ai {
  background: radial-gradient(
    circle,
    #ffffff,
    #d6d6d6,
    #afafaf,
    #8a8a8a,
    #666666
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 30px white;
}

.intro_description {
  margin: 10px 0 0 0;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(189, 189, 189, 0.652);
  text-align: center;
}

.intro_button {
  margin: 35px 0 0 0;
}

.intro_button button {
  font-size: 18px;
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  padding: 13px 60px;
  background: linear-gradient(
    to left top,
    #735be5,
    #6f51e7,
    #6b46e8,
    #683ae9,
    #652be9
  );
  box-shadow: rgba(186, 183, 183, 0.4) 0px 0px 90px;
  border-radius: 13px;
  text-align: center;
  align-items: center;
  transition: 0.4s;

}

.intro_button button:hover {
  background: linear-gradient(
    to left top,
    #5545fd,
    #5141f2,
    #4c3de8,
    #483add,
    #4436d3
  );
  transition: 0.4s;
}

.intro_image {
  display: flex;
  margin: 100px 0 0 0;
}

.intro_image img {
  width: 100%;
}

.intro_text {
  display: flex;
  background: radial-gradient(
    circle,
    #ffffff,
    #d6d6d6,
    #afafaf,
    #8a8a8a,
    #666666
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 300;
  line-height: 2;
  font-size: 16px;
  margin: 15px 0 0 0;
}

.intro_companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 30px;
  padding: 20px;
}

.intro_companies div {
  margin: -20px;
  padding: 20px 10px;
}

.features_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.features_title {
  margin-top: 130px;
  line-height: 1.5;
}

.features_description {
  margin: 30px 0 0 0;
  text-align: center;
}

.features_panorama_row {
  margin: 50px 0 0 0;
  background-color: rgb(10, 10, 10);
  border-radius: 35px;
  border: 1px solid rgb(95, 95, 95);
  box-shadow: 0px 0px 4px rgba(139, 139, 139, 0.854);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.features_panorama_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 180px 60px;
}

.features_panorama_text div {
  text-align: left;
}

.features_panorama_title {
  display: flex;
  font-size: 28px;
}

.features_panorama_description {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.features_panorama_image {
  display: flex;
  justify-content: center;
}

.features_panorama_image img {
  width: 100%;
}

.features_cards_row {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.features_card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(95, 95, 95);
  box-shadow: 0px 0px 2px rgba(139, 139, 139, 0.854);
  background-color: rgb(10, 10, 10);
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  flex: 0 1 49%;
}

.features_card_text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: stretch;
  z-index: 2;
}

.third_page {
  position: absolute;
  margin: 0 0 500px 0;
}

.features_card_image img {
  max-width: 100%;
  padding: 0 0 30px 0;
}

.features_card_title {
  display: flex;
  font-size: 28px;
  margin: 80px 0px 20px 0px;
  text-align: left;
  line-height: 1.5;
}

.title_margin {
  margin-top: -90px;
}

.features_card_description {
  font-size: 16px;
  margin: 0px 0px 60px 0px;
}

.features_highlights_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 40px 0 150px 0;
  flex: 1 1 30%;
}

.highlight {
  display: flex;
  font-size: 16px;
  flex-direction: row;
  align-items: baseline;
  width: 350px;
}

.highlight_description {
  display: flex;
}

.highlight_image img {
  width: 100%;
  padding: 5px 12px;
}

.highlight_bold {
  color: white;
  font-weight: 300;
}

.outro {
  margin: 160px 0 0 0;
  width: 100%;
}

.outro_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outro_image {
  border-radius: 55px;
  box-shadow: 0 0 94px 210px rgba(57, 57, 57, 0.1),
    0 0 49px 2px rgba(0, 0, 0, 0.6), 0 0 74px 62px rgba(57, 57, 57, 0.25);
  margin: 60px 0 30px 0;
}

.outro_button button {
  font-size: 14px;
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  padding: 7px 20px;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin: 30px 0 80px 0;
}

.outro_button button:hover {
  transition: 0.25s;
  background-color: rgb(35, 35, 35);
}

@media screen and (max-width: 1400px){
  .container{
    max-width: 1000px;
  }
}

@media screen and (max-width: 992px){
  .container{
    max-width: 800px;
  }

  .intro_row{
    border: 0px;
    padding-bottom: 0px;
  }

  .intro_title{
    margin-top: -60px;
    line-height: 1.3;
    font-weight: 500;
    font-size: 56px;
  }

  .br_title{
    display: block;
    height: 1px;
    width: 1px;
  }

  .intro_companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 30px 0 0 0;
  }

  .features_title p{
    margin-top: 10px;
    font-size: 32px;
    line-height: 1.3;
  }

  .features_description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features_description p{
    width: 90%;
  }

  .features_row{
    flex-direction: column;
    margin-bottom: -120px;
  }

  .features_panorama_row{
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .features_panorama_text{
    position: inherit;
    margin: 20px;
  }

  .features_cards_row{
    flex-direction: column;
    max-width: 50%;
  }

  .features_card{
    margin: 0 0 40px 0;
  }

  .title_margin{
    margin-top: 90px;
  }

  .features_highlights_row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 0px;
  }

  .features_highlights_row p{
    margin: 10px;
  }

  .highlight_image{
    align-items: center;
    justify-content: center;
  }

  .third_page{
    position: relative;
    margin: 0 0 -160px 0;
  }
}

@media screen and (max-width: 767px){
  .container{
    max-width: 350px;
  }

  .features_cards_row{
    flex-direction: column;
    max-width: 100%;
  }

  .features_row{
    margin-top: -92px;
  }
  
  .footer_row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer_links{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 0 0;
  }

  .footer_links a{
    margin: 20px 0;
  }

  .footer_links a:last-child{
    margin: 30px 0 100px 0;
  }

  .features_panorama_row{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .intro_title{
    font-size: 44px;
  }

  .intro_companies{
    grid-template-columns: clamp(0px, 60%, 200px) auto;
    margin-left: -34px;
  }

  .intro_button button{
    font-size: 16px;
    padding: 13px 16px;
  }

  .intro_image{
    margin: 50px 0 0 0;
  }

  .header_links{
    display: none;
  }

  .header_dropdown{
    display: none;
  }

  .header_border{
    border: 0px;
  }

  .header_row{
    justify-content: center;
  }

  .title{
    font-size: 34px;
  }

  .company img{
    width: 153px;
  }

  .features_card_text{
    padding: 20px;
  }

  .outro_image img{
    width: 70px;
  }

}